
\.ipynb_checkpoints/Untitled-checkpoint\.ipynb

\.ipynb_checkpoints/Zen_basic-checkpoint\.ipynb

.ipynb_checkpoints

.DS_store

assets/sandbox\.png

__pycache__/

sending_emails/keys\.py

sending_emails/CF-session4\.pptx

Untitled\.ipynb

~\$CF-session4\.pptx
